#about-page {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    color: #7390b1;
}
.about-page-headername {
    font-size: 5vh;
    color: #b2c6dd;
}
.about-page-headername-01 {
    font-size: 2vh;
    color: #8ba6c5;
}
.about-paragraph {
    font-size: 2vh;
    box-sizing: content-box;
    max-height: 90vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
}
.about-paragraph::-webkit-scrollbar {
    display: none;
}

.about-total {
    margin-top: 5%;
    font-size: 2.5vh;
    color: #3e5d81;
}
.about-get-to-know {
    color: #ffffff;
    font-size: 3vh;
}
.about-project {
    margin-top: 5%;
    font-size: 1.5vh;
    max-width: 90%;
}
.about-project-header {
    font-size: 2.5vh;
    color: #b2c6dd;
}
.about-project-list {
    margin-bottom: 2.5%;
}
.about-article-left {
    display: grid;
    grid-template-columns: 20% 80%;
}
.about-article-right {
    display: grid;
    grid-template-columns: 80% 20%;
}
article div img {
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
}
article div h3 {
    color: #a0b0c5;
}
.about-click {
    text-decoration: underline;
    cursor: pointer;
}
.about-click:hover {
    font-size: 1.5em;
}
.about-experience-click {
    color: #36857c;
}
.about-education-click {
    color: #a56262;
}