#about-page {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    color: #7390b1;
}
.about-page-headername {
    font-size: 5vh;
    color: #b2c6dd;
}
.about-page-headername-01 {
    font-size: 2vh;
    color: #8ba6c5;
}
.about-paragraph {
    font-size: 2vh;
    max-height: 90vh;
    overflow: auto;
}
.about-total {
    margin-top: 5%;
    font-size: 2.5vh;
    color: #517195;
}
.about-get-to-know {
    color: #d1dce9;
    font-size: 3vh;
}
.about-project {
    margin-top: 5%;
    font-size: 1.5vh;
    max-width: 90%;
}
.about-project-header {
    font-size: 2.5vh;
}
.about-project-list {
    margin-bottom: 2.5%;
}
article {
    display: grid;
    grid-template-columns: 20% 80%;
}
article div img {
    margin-left: 10%;
    width: 80%;
}
article div h2 {
    color: #243d5a;
}